<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <!-- this configuration overrides the FastCGI handler to let IIS serve the static files -->
    <handlers>
    <clear/>
      <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="File" requireAccess="Read" />
    </handlers>
    <staticContent>
        <mimeMap fileExtension=".vtp" mimeType="application/octet-stream" />
    </staticContent>
    <staticContent>
        <mimeMap fileExtension=".obj" mimeType="application/octet-stream" />
    </staticContent>
    <staticContent>
        <mimeMap fileExtension=".zip" mimeType="application/zip" />
    </staticContent>
  </system.webServer>
</configuration>